.bg-color{
    background-color: #feeae9;
    border-radius: 10px;
    height: 400px;
}
.carousel-item{
    padding: 0px 25px 0px 50px;
}
.img-se{
    height: 400px;
}
.cat{
    background-color: orchid;
}

.cat2{
    background-color: rgb(150, 150, 245);
}
.cat3{
    background-color: orange;
}

#top-add{
    padding-top: 30px;
}
.color h1{
    color: white;
}
.card{
    border: none;
    box-shadow: 5px 5px 10px lightgray;

}